
  

body {
    background-color: rgb(24, 25, 27); /* Fondo negro para el cuerpo */
    color: rgb(71, 159, 231); /* Texto blanco para contrastar */
    font-family: Arial, sans-serif; /* Tipo de fuente para el texto */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el espacio de relleno predeterminado del cuerpo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .titulo{
    color: white;
  }
  .titulo_lista{
    color: blueviolet;
  }
  
  table {
    width: 90%; /* Ancho de la tabla */
    background-color: #333; /* Color de fondo de la tabla */
    border-collapse: collapse;
    margin: 20px; /* Espacio alrededor de la tabla */
    border: 1px solid #666; /* Borde de la tabla */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  th, td {
    padding: 10px; /* Espaciado interno para las celdas */
    text-align: center; /* Centra el texto dentro de las celdas */
    border: 1px solid #666; /* Borde de las celdas */
  }
  
  /* Estilo para las filas impares (opcional) */
  tr:nth-child(odd) {
    background-color: #444; /* Cambia el color de fondo de las filas impares */
  }
  